<html>
    <head>
        <title>SISGAV 2.0 - Painel GAV</title>
        <#include "../head.html">
    </head>

    <body>
        <div class="nav-menu navbar navbar-default">
            <#include "../side-menu.html">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a class="hm"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <a href="/"><img class="logo" src="/img/logoW.png"></a>
                    </div>
                </div>

                <ul class="nav nav-left navbar-nav">
                    <li class="active"><a href="/painel/${room.doorid}">Inicio</a></li>
                    <li><a href="/painel/${room.doorid}/agenda">Agendamentos </a></li>
                    <li><a href="/painel/${room.doorid}/status">Estatisticas</a></li>
                    <li><a href="/painel/${room.doorid}/lista-de-usuarios">Lista de usuarios</a></li>
                    <#if level == 5>
                    <li><a href="/painel/${room.doorid}/config">Configuracoes</a></li>
                    </#if>
                </ul>

                <div class="content panel">
                    <ul class="nav navbar-nav navbar-right nav-center">
                        <li class="nav-qc">
                            <a href="javascript:void(0)" id="opendoor">Abrir porta</a>
                        </li>
                        <li id="nav-newentry"><a href="/sair">Sair</a></li>
                    </ul>
                </div>
            </div>

        </div>



        <div class="container">

            <div class="header">
                <h1>Estatisticas</h1>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Grafico de consumo de energia </h3>
                        </div>
                        <div class="panel-body graph-b">
                            <canvas id="graph" width="500" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <script src="//www.chartjs.org/assets/Chart.min.js"></script>

        <script>


            var ctx = document.getElementById("graph");
            $.getJSON("/current", function (json) {
                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
                        datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255,99,132,1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                        }
                    }
                });
                
            });








        </script>



    </body>
</html>