<html>
    <head>
        <title>SISGAV 2.0 - Painel GAV</title>
        <#include "../head.html">
    </head>

    <body style="padding-bottom: 200px;padding-top: 100px;">

        <div class="nav-menu navbar navbar-default">
            <#include "../side-menu.html">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a class="hm"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        <a href="/"><img class="logo" src="/img/logoW.png"></a>
                    </div>
                </div>

                <ul class="nav nav-left navbar-nav">
                    <li class="active"><a href="/painel/${room.doorid}">Inicio</a></li>
                    <li><a href="/painel/${room.doorid}/agenda">Agendamentos</a></li>
                    <#if level == 5>
                    <li><a href="/painel/${room.doorid}/config">Configuracoes</a></li>
                    </#if>
                </ul>

                <div class="content panel">
                    <ul class="nav navbar-nav navbar-right nav-center">
                        <li class="nav-qc">
                            <a href="javascript:void(0)" id="opendoor">Abrir porta</a>
                        </li>
                        <li id="nav-newentry"><a href="/sair">Sair</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <#include "../loader.html"> 


        <div class="container">
            <div class="header">
                <h1 class="room-title">${room.name}</h1>
                <span>Numero da sala: ${room.doorid}</span>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="bs-component">

                        <style>
                            .almox{
                                position: relative;
                            }

                            .almox input{
                                background-color: white;
                                padding: 10px;
                                color: black;
                            }

                            .almox table{
                                position: absolute;
                                background-color: white;
                                top: 38px;
                                z-index: 5;
                                display: none;
                            }


                        </style>

                        <div class="panel panel almox">
                            <input type="text" placeholder="Pesquise por um item..." class="form-control" id="almoxinput">
                            <table class="table table-striped table-hover " id="almoxtable">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>Caixa</th>
                                        <th>Armario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <a href="/painel/sistema/items" style="
                           position: absolute;
                           top: 46px;
                           right: 16px;">Ver todos os items</a>
                        <script>

                            $('#almoxinput').on('keyup', function () {
                                $.post("/items", {query: $(this).val()}, function (data) {
                                    $("#almoxtable tbody").html("");
                                    data = JSON.parse(data);
                                    $.each(data, function (i, item) {
                                        $("#almoxtable tbody").append("<tr><td>" + item.name + "</td><td>" + item.box + "</td><td>" + item.area + "</td></tr>");
                                    });
                                });
                                $("#almoxtable").show();
                            });
                            $("body").click(function (e) {
                                if (e.target.id != "almoxtable" || !$(e.target).parents("#almoxtable").size()) {
                                    $("#almoxtable").hide();
                                }
                            });
                        </script>


                    </div>
                    <!--<div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Broadcast da porta:</h3>
                        </div>
                        <div class="panel-body log-b" style="padding: 0px;">
                            <img src="" class="webcam" width="100%" height="100%" />
                        </div>
                    </div>-->
                    <img src="/img/logoW.png" style="width: 565px;">
                </div>
                <div class="col-md-6">

                    <div class="bs-component">
                        <div class="panel panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Controle da iluminacao</h3>
                            </div>

                            <style>
                                .lightcontrol a{
                                    margin: 0px !important;
                                    width: 86px !important;
                                    height: 70px !important;
                                    padding-left: 25px !important;
                                }
                                .lightcontrol a i{
                                    font-size: 28px;
                                }

                                .lightcontrol .btn-success i{
                                    color: #e8e879;
                                }

                                .lightcontrol a p{
                                    margin-top: 8px;
                                }
                            </style>

                            <div class="panel-body lightcontrol">
                                <a class="btn btn-raised light btn-default" lid="4">
                                    <i class="fa fa-lightbulb-o"></i>
                                    <br>
                                    <p>Luz 1</p><div class="ripple-container"></div>
                                </a>

                                <a class="btn btn-raised light btn-default" lid="3">
                                    <i class="fa fa-lightbulb-o"></i>
                                    <br>
                                    <p>Luz 2</p><div class="ripple-container"></div>
                                </a>


                                <a class="btn btn-raised light btn-default" lid="2">
                                    <i class="fa fa-lightbulb-o"></i>
                                    <br>
                                    <p>Luz 3</p><div class="ripple-container"></div>
                                </a>


                                <a class="btn btn-raised light btn-default" lid="1">
                                    <i class="fa fa-lightbulb-o"></i>
                                    <br>
                                    <p>Luz 4</p><div class="ripple-container"></div>
                                </a>
                            </div>



                        </div>
                    </div><div class="bs-component">
                        <div class="panel panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">Controle de outros</h3>
                            </div>





                            <div class="panel-body lightcontrol">
                                <a class="btn btn-raised light btn-default" lid="5" style="width: 130px !important;">
                                    <i class="fa fa-asterisk" aria-hidden="true"></i>
                                    <br>
                                    <p>Ventilador</p><div class="ripple-container"></div>
                                </a>
                                <a class="btn btn-raised light btn-default" lid="9999" style="width: 130px !important;">
                                    <i class="fa fa-desktop" aria-hidden="true"></i>
                                    <br>
                                    <p>Projetor</p><div class="ripple-container"></div>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="bs-component">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Ultima pessoa passar pela porta</h3>
                            </div>
                            <div class="panel-body lastEntryName">Gabriel Almeida Mellem</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bs-component">


                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Numero de vezes que a porta abriu</h3>
                            </div>
                            <div class="panel-body timesOpened">523</div>
                        </div>


                    </div>
                </div><div class="col-md-4">
                    <div class="bs-component">




                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <h3 class="panel-title">Tempo vivo (Uptime)</h3>
                            </div>
                            <div class="panel-body timealive">125:42:51</div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">


                <div class="col-md-4">
                    <div class="bs-component">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Consumo de energia da sala (Watts)</h3>
                            </div>
                            <div class="panel-body consumoDeEnergia">1250 Watts/h</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bs-component">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Custo da energia utilizada</h3>
                            </div>
                            <div class="panel-body consumoDeEnergiaPreco">R$ 125,00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Log do servidor:</h3>
                        </div>
                        <div class="panel-body log-b" style="overflow-y: scroll;overflow-x: hidden;">
                            <table class="table table-striped table-hover ">
                                <!--<tbody>
                                    <tr>
                                        <td>Entrada</td>
                                        <td>Gabriel Almeida Mellem</td>
                                        <td>09:41:21 16/10/2016</td>
                                    </tr>
                                    <tr>
                                        <td>Porta aberta</td>
                                        <td>Pelo painel</td>
                                        <td>09:50:21 16/10/2016</td>
                                    </tr><tr>
                                        <td>Entrada</td>
                                        <td>Gabriel Almeida Mellem</td>
                                        <td>09:41:21 16/10/2016</td>
                                    </tr>-->
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var doorID = ${
                room.doorid
            }
            ;</script>
        <script src="/js/socket.js"></script>

    </body>
</html>