<html>
<head>
	<title>SISGAV 2.0 - Entre no Sistema GAV</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/material.css" type="text/css" rel="stylesheet">
	<link href="/css/fonts.css" type="text/css" rel="stylesheet">
</head>
<style>
	body{
		padding-bottom: 200px;
		padding-top: 70px;
		position: relative;
		margin-top: 0px;
		text-align: center;
		padding-top: 0px;
	}

	body img{
		width: 600px;
		margin-right: -27px;
		margin-bottom: 20px;
	}

	.container{
		width: 500px;
	}

	.well{
		width: 500px;
		text-align: left;
		height: 272px;
	}

	.f{
		margin-top: 0px;
	}

	.btn-primary{
		margin-top: -20px;
		float: right;
	}

	.alert{
		width: 500px;
		text-align: left;
	}
</style>
	<body>

		<img src="/img/logoW.png">
		<div class="container">
			<#if error??>
			<div class="alert alert-danger">
				<strong><#if errortextmain??>${errortextmain}</#if></strong>, <#if errortextsecond??>${errortextsecond}.</#if>
			</div>
			</#if>
			<div class="well bs-component">
				<form class="form-horizontal" method="POST" action="/entrar">
					<fieldset>
						<legend>Entre com suas credencias</legend>
						<div class="f form-group is-empty">
							<label for="inputEmail" class="col-md-2 control-label">Matricula</label>
							<div class="col-md-10">
								<input type="text" class="form-control" id="inputEmail" name="login" placeholder="Matricula">
							</div>
						</div>
						<div class="form-group is-empty">
							<label for="inputPassword" class="col-md-2 control-label">Senha</label>

							<div class="col-md-10">
								<input type="password" class="form-control" id="inputPassword" name="password" placeholder="Sua senha">
							</div>
						</div>

						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
								<button type="submit" class="btn btn-raised  btn-primary">Entrar</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>