<style>
    .item-search{
        position: relative;
        display: none;
    }

    .item-search .item-search-panel{
        position: absolute;
        width: 100%;
        min-height: 600px;
        background-color: rgb(255, 255, 255);
        z-index: 99;
    }

    .item-search-panel .panel-heading{
        height: 40px;
        text-align: right;
    }

    .item-search .panel-body .filter{
        height: 110px;
        border-bottom: 1px solid lightgray;
        margin-bottom: 15px;
    }

    .item-search .panel-body .filter .filder-type{
        float: left;
        padding-left: 10px !important;
    }
    .filder-type .checkbox{
        margin-top: 0px !important;
    }

    .almox{
        position: relative;
    }

    .almox input{
        background-color: white;
        padding: 10px;
        color: black;
        z-index: 999;
        position: relative;
    }

</style>


<div class="item-search" id="item-search">
    <div class="bs-component">
        <div class="item-search-panel panel">

            <div class="panel-heading">
                <a href="javascript:void();" style="padding-left: 10px;"> Novo item </a>
                <a href="javascript:void();" style="padding-left: 10px;"> Novo Grupo </a>
                <a href="javascript:void();" style="padding-left: 10px;"> Relatorios </a>
            </div>

            <div class="panel-body">
                <div class="filter">
                    <h5>Filtros:</h5>
                    <div class="filder-type">
                        Mostrar somente items que estao na sala:
                        <select id="select111" class="form-control">
                            <option>Todas</option>
                            <option>208</option>
                            <option>201</option>
                        </select>
                    </div>
                    <div class="filder-type">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Mostrar Somente items em falta
                            </label>
                            <br><label>
                                <input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> Mostrar Somente Grupos de items
                            </label>

                        </div>
                    </div>

                </div>


                <table class="table table-striped table-hover " style="">
                    <thead>
                        <tr>
                            <th>Nome do item</th>
                            <th>Local</th>
                            <th>Sala</th>
                            <th>Opcoes</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>          

            </div>


        </div>

    </div></div>